# Ignore wp-config.php and .htaccess
wp-config.php
.htaccess

# Ignore wp core 
/wp

# Don’t ignore plugins dir, but ignore everything inside
!/wp-content/plugins
/wp-content/plugins/*

# Don’t ignore plugins dir, but ignore everything inside
!/wp-content/themes
/wp-content/themes/*


